header .navbar {
    background-color: rgb(92, 91, 91) !important;
}

.navbar-brand{
    color: white !important;
}


.container-fluid{
    background-color: rgb(92,91,91);
}




#btnUpdate{
    display: none;
}


footer{
    background-color: rgb(92, 91, 91);
    color: white;
    justify-content: center;
    display: flex;
}